body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.main {
  width: 85%;
  text-align: center;
  margin-left: 100px;
}

.sidebar {
  height: 780px;
  width: 15%;
  background-color: white;
}
.submit-btn {
  background-color: #3dada7;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  margin-top: 70px;
}
.submit-btn:hover {
  background-color: #2d8a86;
}
h1 {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.all {
  margin-left: 600px;
}
