body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#title {
  flex: 0;
  margin-top: 70px;
  margin-right: 130px;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px;
  margin-right: 200px;
}

.table-section {
  flex: 3;
}

.search-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed; /* 検索バーを固定 */
  top: 80px; /* 上部からの余白 */
  right: 0;
  width: 200px; /* 幅を調整 */
  padding-left: 1px;
  z-index: 1000; /* 他のコンテンツの上に表示 */
  height: 90vh;
}

.search-input {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0px;
}

.search-results {
  max-height: 80vh; /* 検索結果部分の最大高さを画面の70%に設定 */
  overflow-y: auto; /* 内容がはみ出した場合に縦スクロール */
  width: 100%;
}

.search-section p {
  word-wrap: break-word; /* 長いテキストが折り返される */
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 60px;
}

th, td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #f0f0f0;
  width: 80px;
}

.submit-button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4db6ac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}



.submit-button:hover {
  background-color: #2d8a86;
}

.search-results {
  margin-top: 20px;
}

.search-results p {
  margin: 5px 0;
}
li{
  list-style:none;
}