body {
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.container {
    padding: 30px 40px;
    width: 500px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

input, select {
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit-button {
    width: 30%;
    background-color: #379c98;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse; /* セル間の隙間をなくす */
}

td {
    padding: 10px; /* 要素間の余白を1pxに調整 */
    vertical-align: top;
}

.short {
    width: 45%; /* 学年と学科の幅を短く設定 */
}

.long {
    width: 100%;
}

.return_button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
}

.flash {
    color: red;
    margin-bottom: 10px;
}