<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>欠席登録画面</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/allstyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/absence.css">
</head>

<body>
    <header>
        <a href="" class="">
            <img src="../static/img/icon1.png" alt="logo" id="logo-img" style="width: 80px; height: 80px;">
        </a>
        <!-- JSで画像の変更する -->
        <script>
            const logoImg = document.getElementById("logo-img");
            logoImg.addEventListener("mouseover", function () {
            this.src = "../static/img/logo.png";
           });
            logoImg.addEventListener("mouseout", function () {
            this.src = "../static/img/icon1.png";
           });
        </script>
        <div class="nav-links">
            <a href="{{url_for('mypage.mypage')}}">マイページ</a>
            <a href="{{url_for('syllabus')}}">シラバス一覧</a>
            <a href="{{url_for('timetable.course_register')}}">シラバス登録</a>
            <a href="{{url_for('todo')}}">TODOリスト登録</a>
        </div>
        <a href="{{url_for('logout')}}" class="logout">ログアウト</a>
    </header>

    <div class="container">
        <!-- メインエリア -->
        <form method="POST" action="{{url_for('Absence_exe')}}">
            <div class="main">
                <h1>欠席登録</h1>
                <div class="form-area">
                <p><strong>科目名：</strong>Java応用(Spring_boot)①</p>
                <label for="date"><strong>欠席日：</strong></label>
                <input type="date" id="date" name="absent_date">
                <br>
                <button class="submit-btn">登録</button>
            </div>
        </form>


        <div class="sidebar">
            <div class="past-absences">
                <h2>過去の欠席</h2>
                <ul>
                    <li>2025/04/02(火)</li>
                    <li>2025/04/02(火)</li>
                    <li>2025/04/02(火)</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>