<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/allstyle.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>ログイン</h1>
        <form action="{{url_for('login')}}" method="POST">
            <input type="email" name="email" placeholder="メールアドレス" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button class="login-button" type="submit">ログイン</button>
        </form>

        <div class="links">
            <a href="{{ url_for('register_form') }}">アカウント登録はこちら</a>
        </div>
    </div>
</body>
</html>
