<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>タイトル</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/allstyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/mypage.css">

</head>

<header>
    <div class="logo"></div>
    <div class="nav-links">
        <a href="./html/mypage.html">マイページ</a>
        <a href="#">シラバス一覧</a>
        <a href="#">シラバス登録</a>
        <a href="#">TODOリスト登録</a>
    </div>
    <a href="{{url_for('login')}}" class="logout" >ログアウト</a>
</header>


<body>
    <div class="parent">
        <div class="parentleft">高度情報工学科 2学年 坂上田村麻呂</div>
        <div class="parentright">２学年前期</div>
    </div>

</body>

</html>