<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>時間割画面</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/css/allstyle.css">
    <link rel="stylesheet" href="../static/css/sllabusconfirm.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
     <header>
        <a href="" class="">
            <img src="../static/img/icon1.png" alt="logo" id="logo-img" style="width: 80px; height: 80px;">
        </a>
        <!-- JSで画像の変更する -->
        <script>
            const logoImg = document.getElementById("logo-img");
            logoImg.addEventListener("mouseover", function () {
            this.src = "../static/img/logo.png";
           });
            logoImg.addEventListener("mouseout", function () {
            this.src = "../static/img/icon1.png";
           });
        </script>
        <div class="nav-links">
            <a href="{{url_for('mypage.mypage')}}">マイページ</a>
            <a href="{{url_for('syllabus')}}">シラバス一覧</a>
            <a href="{{url_for('timetable.course_register')}}">シラバス登録</a>
            <a href="{{url_for('todo')}}">TODOリスト登録</a>
        </div>
        <a href="{{url_for('logout')}}" class="logout">ログアウト</a>
    </header>

    <h1>システム開発演習</h1>
    <div class="container">
        <!-- 左側：シラバス詳細 -->
        <div class="left">
            <h1>シラバス詳細</h1>
            <table>
                <tr>
                    <th>シラバスID</th>
                    <td>{{detail_data[0]}}</td>
                </tr>
                <tr>
                    <th>学科科目名</th>
                    <td>{{detail_data[2]}}</td>
                </tr>
                <tr>
                    <th>科目名</th>
                    <td>{{detail_data[1]}}</td>
                </tr>
                <tr>
                    <th>開講予定学期</th>
                    <td>{{detail_data[4]}}</td>
                </tr>
                <tr>
                    <th>コマ数</th>
                    <td>{{(detail_data[3])}}</td>
                </tr>
                <tr>
                    <th>推奨履修学年</th>
                    <td>{{detail_data[5]}}年～</td>
                </tr>
                <tr>
                    <th>担当教員</th>
                    <td>{{detail_data[6]}}</td>
                </tr>
            </table>
        </div>

        <div class="right">
            <div class="section-title">前年度受講人数</div>
            <div class="box">
                <p>{{prev_data[0][0]}}年生：{{prev_data[0][1]}}人</p>
                <p>{{prev_data[1][0]}}年生：{{prev_data[1][1]}}人</p>
                <p>{{prev_data[2][0]}}年生：{{prev_data[2][1]}}人</p>
                <p>{{prev_data[3][0]}}年生：{{prev_data[3][1]}}人</p>
            </div>
            <div class="section-title">レーダーチャート</div>
            <canvas id="radarChart" width="100" height="100"></canvas>
            <a href="{{url_for('review_form')}}?id={{detail_data[0]}}">レビュー投稿</a>
            <div class="section-title">授業レビュー</div>
            <div class="review-box">
                <ul>
                    {% for l in review_list%}
                    <li>{{l[0]}}<span class="date">{{l[6]}}</span></li>
                    {% endfor%}
                </ul>
            </div>

        </div>
    </div>
    <script>const average = {{ ave | tojson }};</script>
    <script src="../static/js/sllabusconfirm.js"></script>
</body>

</html>