<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOリスト登録</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/allstyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/todo_register.css">
</head>
<body>

    <header>
        <a href="{{url_for('main')}}" class="">
            <img src="../static/img/icon1.png" alt="logo" id="logo-img" style="width: 80px; height: 80px;">
        </a>
        <!-- JSで画像の変更する -->
        <script>
            const logoImg = document.getElementById("logo-img");
            logoImg.addEventListener("mouseover", function () {
            this.src = "../static/img/logo.png";
           });
            logoImg.addEventListener("mouseout", function () {
            this.src = "../static/img/icon1.png";
           });
        </script>
        <div class="nav-links">
            <a href="{{url_for('mypage.mypage')}}">マイページ</a>
            <a href="{{url_for('syllabus')}}">シラバス一覧</a>
            <a href="{{url_for('timetable.course_register')}}">シラバス登録</a>
            <a href="{{url_for('todo')}}">TODOリスト登録</a>
        </div>
        <a href="{{url_for('logout')}}" class="logout">ログアウト</a>
    </header>

    <div class="container">
        <h1>TODOリスト登録</h1>

        <form action="{{ url_for('todo') }}" method="POST">
            <div class="form-group">
                <label for="deadline">期限</label>
                <input type="date" id="deadline" name="deadline" >
            </div>

            <div class="form-group">
                <label for="todo">ToDo</label>
                <textarea id="todo" name="todo"></textarea>
            </div>

            <div class="submit-container">
                <button type="submit" class="submit-btn">登録</button>
            </div>
        </form>
    </div>

    <script>
        const deadlineInput = document.getElementById('deadline');
    
        deadlineInput.addEventListener('click', () => {
            deadlineInput.showPicker && deadlineInput.showPicker();
        });
    </script>
</body>
</html>